body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 2rem;
    color: #666;
    font-size: 4rem;
}

#latest-books {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}

.book {
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin: 10px;
    width: 300px;
    text-align: left;
    background-color: #fff;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

.book:hover {
    transform: scale(1.05);
}

.book h2 {
    color: #1a1a1a;
    margin-bottom: 10px;
}

.book p {
    margin: 8px 0;
    color: #666;
}

.book a {
    color: #3498db;
    text-decoration: none;
}

.book a:hover {
    text-decoration: underline;
}